<!-- pages/empty-page -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="tab-0">
<div class="row">
    <div class="col">
        <div class="widget">
            <div class="row">
                <div class="col">
                    <div class="col col-xl-10">
                        <div class="form-group">
                            <label style="font-weight: bold">Institutes</label>
                            <select class="form-control" id="insti-1" name="insti-1" [(ngModel)]="selectedInstitution" [ngModelOptions]="{standalone: true}" (click)="institutionSelected(selectedInstitution)">
                                <option style="width: 1em;" *ngFor="let insti of institutes" value="{{insti.id}}">{{insti.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col col-xl-10">
                        <div class="form-group">
                            <label style="font-weight: bold">Courses Offered</label>
                            <select class="form-control" id="cour-1" name="cour-1" [(ngModel)]="selectedCourse" [ngModelOptions]="{standalone: true}" (click)="courseSelected(selectedCourse)">
                                <option style="width: 1em;" *ngFor="let cour of courses" value="{{cour._id}}">{{cour.course}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col col-xl-10">
                        <div class="form-group">
                            <label style="font-weight: bold">Select Batch</label>
                            <select class="form-control" id="cour-1" name="cour-1" [(ngModel)]="selectedBatch" [ngModelOptions]="{standalone: true}" (click)="batchSelected(selectedBatch,selectedCourse,selectedInstitution)">
                                <option style="width: 1em;" *ngFor="let bat of batchYears" value="{{bat}}">{{bat}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="hideFileUploads">
            <div class="widget">
                <div class="row">
                    <div class="col">
                        <div class="title">File uploads</div>
                        <div class="description"><span style="font-size: 1.2em">Upload the Certificates for the Batch:</span><span style="font-size: 1.3em;font-weight: bold;"> {{batSelected}}</span><span style="font-size: 1.2em"> for</span><span style="font-size: 1.3em;font-weight: bold;"> {{courSelected}}</span><span style="font-size: 1.2em"> Course in </span><span style="font-size: 1.3em;font-weight: bold;">{{institutioSelected}}</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form enctype="multipart/form-data" class="dropzone" id="my-dropzone"></form>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="viewUploaded()">
                    Manage Uploaded Files
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- end pages/empty-page -->
